@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Paleta OMNI Scale */
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 218 57% 13%; /* #0f1d36 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 33% 96%; /* #f3f5f9 */
    --secondary-foreground: 217 33% 17%;
    --muted: 210 40% 98%; /* #f8fafc */
    --muted-foreground: 215 19% 35%; /* #475569 */
    --accent: 220 33% 96%;
    --accent-foreground: 217 33% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%; /* #e2e8f0 */
    --input: 214 32% 91%;
    --ring: 218 57% 13%;
    --chart-1: 218 57% 30%;
    --chart-2: 173 58% 39%;
    --chart-3: 27 87% 55%;
    --chart-4: 262 60% 55%;
    --chart-5: 340 70% 55%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
